
<html>

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Example Mashup for Qlik Sense Extensions">
    <meta name="author" content="Konrad Mattheis, Thomas Hänig, @q2g">

    <title>Mashup Example for Qlik Extensions</title>

    
    <link href="dist/main.css" rel="stylesheet">    
    <link href="node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">    
    <link href="node_modules/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Cabin:700' rel='stylesheet' type='text/css'>

    <link href="lib/selector/src/q2g-ext-selector.css" rel="stylesheet">    
    <link href="lib/selector/src/lib/daVinci.js/src/directives/extensionHeader.css" rel="stylesheet">  
    <link href="lib/selector/src/lib/daVinci.js/src/directives/listview.css" rel="stylesheet">  
    <link href="lib/selector/src/lib/daVinci.js/src/directives/scrollBar.css" rel="stylesheet"> 

    <link rel="stylesheet" href="node_modules/leonardo-ui/dist/leonardo-ui.css" type="text/css"/>
    
  </head>

  <body id="page-top" ng-app="app">
    
    <!-- Navigation -->
    <nav class="mainNav navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">Start Extensions</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#selector">Selector</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Intro Header -->
    <header class="masthead">
      <div class="intro-body">
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <h1 class="brand-heading">da Vinci</h1>
              <p class="intro-text">The new solution for Qlik Extensions.
                <br>Created by q2g.</p>
              <a href="#about" class="btn btn-circle js-scroll-trigger">
                <i class="fa fa-angle-double-down animated"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- About Section -->
    <section id="about" class="content-section text-center">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2>About da Vinci</h2>
            <p>davinci.js is a framework to build visual elments for the qlik sense plattform.
                The most important design principal is that you can use the visual element easy as qlik extension in the qlik sense enterprise, but also to use it in own angular websites with just Enigma.JS and without the whole qlik.js stack. You can visit us under
              <a href="https://github.com/q2g">https://github.com/q2g</a>. The framework ist open source</p>
            <p>The rest design principals:
              <ul>
                <li>
                    accessibility, screenreader ready and keybord usage / shortcuts
                </li>
                <li>
                    ready for versioning, possibility to run different versions of the plugin or elements in one page
                </li>
                <li>
                    stay close to the qlik ux
                </li>
              </ul>
            <p>The plan is in the end to get even angular 1.x and angular 4+ elements out of one codebase.</p>
          </div>
        </div>
      </div>
    </section>

    <!-- Selector -->
    <section id="selector" class="content-section text-center" ng-controller="RootCtrl as vm">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2>Selector Extension</h2>
            <div ng-if="vm.loadToggle">
              <div class="spinner">
                <div class="bounce1"></div>
                <div class="bounce2"></div>
                <div class="bounce3"></div>
              </div>
            </div>
            <q2g-selection-extension ng-if="!vm.loadToggle" style="height:400px" engineroot="vm.engineRoot" class="q2g-selection" ng-mouseenter="vm.setGlobalScrollFalse()" ng-mouseleave="vm.setGlobalScrollTrue()">
            </q2g-selection-extension>
          </div>
        </div>
      </div>
    </section>

    <!-- Footer -->
    <footer>
      <div class="container text-center">
        <p>Copyright &copy; q2g 2017</p>
      </div>
    </footer>

    
    <!-- Bootstrap core JavaScript -->
    <script src="node_modules/jquery/dist/jquery.min.js"></script>
    <script src="node_modules/popper.js/dist/umd/popper.min.js"></script>
    <script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/require.js/2.1.8/require.min.js"></script> -->

    <!-- Plugin JavaScript -->
    <script src="node_modules/jquery.easing/jquery.easing.min.js"></script>
    <script src="node_modules/leonardo-ui/dist/leonardo-ui.js" type="text/javascript"></script>

    
    <script src="main.js"></script>
    
    <!-- Custom scripts for this template -->
    <script>
    
      (function($) {
        "use strict"; // Start of use strict

        // Smooth scrolling using jQuery easing
        $('a.js-scroll-trigger[href*="#"]:not([href="#"])').click(function() {
          if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') && location.hostname == this.hostname) {
            var target = $(this.hash);
            target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
            if (target.length) {
              $('html, body').animate({
                scrollTop: (target.offset().top - 48)
              }, 1000, "easeInOutExpo");
              return false;
            }
          }
        });

        // Closes responsive menu when a scroll trigger link is clicked
        $('.js-scroll-trigger').click(function() {
          $('.navbar-collapse').collapse('hide');
        });

        // Activate scrollspy to add active class to navbar items on scroll
        $('body').scrollspy({
          target: '#mainNav',
          offset: 54
        });

        // Collapse the navbar when page is scrolled
        $(window).scroll(function() {
          if ($("#mainNav").offset().top > 100) {
            $("#mainNav").addClass("navbar-shrink");
          } else {
            $("#mainNav").removeClass("navbar-shrink");
          }
        });

      })(jQuery); // End of use strict

    </script>

  </body>

</html>